<app-header> </app-header><body> 
    <div class="agentcontainer">

    <h1 class="h1agentclass">Meet our Team</h1>
    <div class="profiles">
        <div class="profile">
        <img src="agentfirstphoto.jpg" class="profile-img">
        <h3 class="user-name">William</h3> <br>
        
        <h5 class="theagentrole">Property Advertiser</h5> <br>

        <p class="agentdescriptionclass"> He is a highly accomplished residential and commercial real estate agent with over $250 million in career sales and a distinguished record of hundreds of closed escrow transactions. Born and raised in Los Angeles, he leverages his marketing expertise and strong industry relationships to effectively showcase properties to potential buyers.
             
            Mr. William consistently delivers exceptional results for his clients, grounded in honesty, integrity, care, and professionalism.</p> 
        </div>
    <div class="profile">
        <img src="agentsecondphoto.jpg" class="profile-img">
        <h3 class="user-name">Danna</h3> <br>
        
       
        <h5 class="thiswebpagefont">Accountant</h5> <br>
                <p class="thisagentpararaph"> She can organise accounting records such as registers, ledgers, journals and individual account and evaluate or reconcile 
                    diverse financial operations, inspect and confirm source documents,
                    including invoices and expense vouchers to affirm commitments and post suitable records.
                    Her strong understanding of accounting systems aid her to be able to 
                    manage schedules of standard objectives, financial statements and reports.
                    Has nearly excellent verbal and written English communication skills.
                    </p>
                </div>
    <div class="profile">
        <img src="agentthirdphoto.jpeg" class="profile-img">
        <h3 class="thirdagentclass">Fatjon</h3> <br>
                    
        <h5 class="directoragentclass">Administrator</h5> <br>
        <p class="thisagentpararaph"> Plays a pivotal role in managing and seeing the operational aspects of real estate assets and developments. He ensures that the strategic direction of the company's real estate portfolio is aligned with its business goals. His ability to be a director results in him being responsible for optimizing operational efficiency, managing staff, and ensuring the profitability of real estate activities. Furthermore his surplus is to administer the selling and buying process of properties as well.

        </p>
        </div>   
    </div>
    </div>
</body><app-footer> </app-footer>