<app-header> </app-header><body>
</body><br> <h2 style="margin-left: 624px;">Our open positions</h2> <br><br>
<div class="card" style="width:80%; margin-left: 153px;">
    <div class="card-body">
      <h5 class="card-title">Real Estate Agent</h5>
      <p class="card-text">We are looking for a full-time Real Estate Agent that will be responsible for managing and executing every aspect of the real estate transaction process, including listing properties, marketing properties, conducting open houses, exhibiting and researching property potential, negotiating purchase agreements and contracts, and offering professional advice to clients. This is a hybrid role, implying that the role will deal with office and site work.</p>
      <b> Qualifications</b>
      <li>A high school diploma or a higher degree in Economic, Law, Engineering, Marketing, or Business, or related fields is required.</li>
      
      <li>A Real Estate Agent license is preferred and a must to obtain for those who do not have it.</li>
      
      <li>Excellent communication, negotiation, and customer service skills.</li>

      <li>Able to work independently and as part of a team.</li>
      
      <li>Excellent organizational skills.</li>
      <li>A strong work ethic and a passion for the real estate industry.</li>
      
      <li>Proficient in the use of technology and software used in a fast-paced sales environment.</li>
      
      <li>Prior experience in real estate sales or related field is preferred, but not required.</li>
      
      <li>Ability to fluently speak and write in Albanian and English. Fluency in another language is a plus but not necessary.</li>
    </div>
  </div> <br> <br>
  



  <div class="card" style="width:80%; margin-left: 153px;">
    <div class="card-body">
      <h5 class="card-title">Home Inspector</h5>
      <p class="card-text">Join the fastest growing inspection team.

        We’re looking for experienced, certified home inspectors to inspect in Albania.
        
        Our client services team is second to none! If you’re an experienced, highly motivated person with strong communication skills, we’re interested in speaking with you.
We offer competitive remuneration, ongoing training and career support in a professional, client-first atmosphere.</p>
  
</div> </div>  <br> <br>













  <div class="card" style="width:80%; margin-left: 153px;">
    <div class="card-body">
      
        <h5 class="card-title">Senior Equipment Finance, Leasing Specialist</h5>
      <p class="card-text">Looking for experienced, high performing sales professional responsible for providing equipment finance and lease financing solutions to Bank of America clients and prospects.  Typical client profile is companies with revenues between $50MM and $2BN and typical transaction sizes between $1MM and $50+MM.  Candidate will possess proven client relationship and sales skills, strong work ethic, preference for credit and tax leasing knowledge, prospecting and cold calling skills and a strong ability to multi-task.  Prior equipment finance and lease experience is preferred, but will consider candidates with a proven history of exceptional sales performance and general understanding of credit and bank environment.
        Extensive travel is required. This position is posted as a SVP/Sr Leasing Sales Officer, but is flexible to be filled as a VP/Leasing Sales Officer based on the skill set/experience of the candidate.</p>
      <b> Qualifications</b>
    <li>   Exceptional customer/client relationship management skills</li>
<li> In-depth industry and market knowledge including competitive environment, economic conditions, client behavior and market trends</li> <li> 7-10 years direct Equipment leasing sales experience</li>
<li> Exceptional analytical and financial analysis skills</li>
<li> In-depth knowledge of financial and accounting concepts, to include GAAP and tax accounting</li>
<li> Comprehensive understanding of the current regulatory environment and ability to operate in a compliant manner</li>
<li> Proven ability for client prospecting and territory development</li>
<li> Proven ability to assess customer/client needs</li>
<li> Proven negotiation skills</li>
<li> Clear/concise communication skills</li>
<li> Proficiency with MS Office software applications</li>
<li> Exhibit Teamwork</li>
<li> Travel 50%</li>
  </div> </div> <app-footer> </app-footer> 