<app-header> </app-header><body>
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block"> <br>
                <h4 class="card-title" style="text-align: center;">This is ‘the biggest difference’ in today’s housing market, according to hosts of ‘Property Brothers’</h4> <br>
                
                <img src="newsfirstphoto.png" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">Many factors make it hard to buy a home today, but the one that makes “the biggest difference” in today’s market is the housing shortage, Drew Scott, co-host of HGTV’s “Property Brothers,” said at CNBC’s Your Money event Thursday.The median sales price of U.S. homes was $412,300 in the second quarter of 2024, according to the U.S. Census with the aid of the Federal Reserve. That is down from $426,800 in the first quarter and from the peak high of $442,600 in the fourth quarter of 2022, the Fed reported. </p>
                
                <b style="margin-left:30px;"> 29th October 2024</b> <a href="https://www.cnbc.com/2024/10/25/the-housing-shortage-is-the-biggest-difference-in-the-housing-market.html" style="margin-left: 153px;">Learn more</a> <br> <br>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-block"> <br>
                <h4 class="card-title" style="text-align: center;"> Market Navigator: Navigating the health of the housing sector</h4> <br>
                
                <img src="newssecondphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">. We are seeing the applications increase and so when it is skewed it is changing the applications.  It has bounced along for 12 months but it is not that unusual and sometimes it will take 9 to 12 months for the period of applications to pick up, and as contrasted with the data yesterday, we are seeing it pick up from previous homes to new home sales.And it is going to take several months to show the volume increases; the purchase applications are the first sign of that growth.</p>
                
                <b style="margin-left:30px;"> 24th October 2024</b> <a href="https://www.cnbc.com/video/2024/10/24/market-navigator-navigating-the-health-of-the-housing-sector.html" style="margin-left: 153px;">Learn more</a> <br> <br>
              </div>
            </div>
          </div>
        </div><br> <br>
        <div class="row hidden-md-up">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  <h4 class="card-title" style="text-align: center;">New home sales have risen to 4.1% in the September of this year</h4> <br>
                
                <img src="newsthirdphoto.jpg" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">Like all the other data points this morning, a little bit better we've seen yields moving up, testing yesterday's highs. New home sales for September are better than anticipated at 738,000, seasonally adjusted, analyzed units. That well puts it very close to the highest levels just since July when we were slightly over 750,000. What is interesting here is that last month was downgraded from 716 to 709,000. We are also seeing reports that they saw pending home sales coming up in September as well. </p>
                
                <b style="margin-left:30px;">  24th October 2024</b> <a href="https://www.cnbc.com/video/2024/10/24/september-new-home-sales-rise-4-point-1-percent-monthly.html" style="margin-left: 153px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  
                  
                  
                  
                  
                  <h4 class="card-title" style="text-align: center;"> Refinance demand retreats after tiny bump higher in mortgage rates</h4> <br>
                
                <img src="newsfourthphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;"> Mortgage rates moved ever so slightly higher last week, but it was enough to take a little heat out of what had been a briefly refinance market. That caused total mortgage application volume to fall 1.3% for the week, according to the Mortgage Bankers Association’s seasonally adjusted index. The average contract interest rate for 30-year mortgages with conforming loan balances ($766,550 or less) increased to 6.14% from 6.13%, with points that rise to 0.61 from 0.57 for loans with a 20% down payment. </p>
                
                <b style="margin-left:30px;"> 2nd October 2024</b> <a href="https://www.cnbc.com/2024/10/02/red-hot-refinance-demand-retreats-after-tiny-bump-higher-in-mortgage-rates.html" style="margin-left: 153px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
          </div><br> <br>
          <div class="row hidden-md-up">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  <h4 class="card-title" style="text-align: center;">Real estate fees settlement produced ‘a new competitive ballgame’. Here’s what buyers, sellers need to know</h4> <br>
                
                <img src="newsfifthphoto.jpg" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">Prior to the settlement, the NAR’s multiple listing service, or MLS, used at a local level across areas in the U.S., facilitated the compensation rates for both a buyer’s and seller’s agents. At the time of listing a property, the home seller negotiated with the listing agent what the compensation would be for a buyer’s agent, which appeared on the MLS. However, if a seller was unaware they could negotiate, they were typically locked into paying the listed brokerage fee.</p>
                
                <b style="margin-left:30px;"> 1st October 2024</b> <a href="https://www.cnbc.com/2024/10/01/what-the-real-estate-fees-settlement-means-for-home-buyers-sellers.html" style="margin-left: 132px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  <h4 class="card-title" style="text-align: center;"> It’s not a great fall housing market, but this is as qualitative as it gets, economist says</h4> <br>
                
                <img src="newssixthphoto.jpg"  width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">Conditions with respect to housing affordability are somewhat improving due to lower mortgage rates. Buyers need to earn $115,000 to afford the typical home in the U.S., according to a new report by Redfin, an online real estate brokerage firm. That’s down 1% from a year ago, and represents the first decline since 2020. Housing payments posted the biggest decline in four years, Redfin also found. The median mortgage payment was $2,534 during the four weeks.</p>
                
                <b style="margin-left:30px;"> 25th September 2024</b> <a href="https://www.cnbc.com/2024/09/25/what-the-fall-housing-market-looks-like-for-buyers.html" style="margin-left: 123px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
          </div><br> <br>
          <div class="row hidden-md-up">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  
                  
                  
                  
                  <h4 class="card-title" style="text-align: center;">Rise of 3D-printed commercial real estate; one of the the largest 3D printed commercial structure in the U.S</h4> <br>
                
                  <img src="newsseventhphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">  3D printing is about 15% to 20% cheaper when compared to regular home construction and perhaps the biggest selling point; houses can be printed in only 48 hours. The walls and foundation of a home can be 3D printed. There is more of a home that we can print made out of other materials besides concrete,but the exterior structure of that home is of importance, so it can get done faster and more affordably. You can do different designs for the exterior or interior walls.  </p>
                <b style="margin-left:30px;"> 20th September 2024</b> <a href="https://www.cnbc.com/video/2024/09/20/rise-of-3d-printed-commercial-real-estate.html" style="margin-left: 119px;">Learn more</a> <br> <br>
                </div>
              </div>  </div>

            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"><br>
                  <h4 class="card-title" style="text-align: center;"> Douglas Elliman’s Noble Black explores the impact of rate cuts on housing</h4> <br>
                
                <img src="newseighthphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">Mortgage rates are kind of like bonds, when interest rates fall, the price of the bond goes up. Doesn't that kind of happen in housing too when interest rates fall, doesn't that allow the seller maybe to raise the asking price a little bit because it theoretically could? The tail effect of lower interest rates on builders? They can get loans at a better price. They're going to be able to build at a better price.There's so many impediments besides the fact that it's hard to pilfer money from the sellers if they do this. </p>
                
                <b style="margin-left:30px;"> 19th September 2024</b> <a href="https://www.cnbc.com/video/2024/09/19/douglas-ellimans-noble-black-explores-the-impact-of-rate-cuts-on-housing.html" style="margin-left: 119px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
          </div><br> <br>
          <div class="row hidden-md-up">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-block"> <br>
                  <h4 class="card-title" style="text-align: center;"> London landlords sell up properties at record rates ahead of anticipated tax hikes</h4><br>   
                <img src="newseleventhphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
               
               
               
               
                <p class="card-text p-y-1" style="text-align:center;">London landlords are selling up their buy-to-let properties at record rates due to the anticipated tax hikes from the U.K. Labour government. Almost one-third (29%) of homes currently for sale in the capital were previously rented out, data published by property portal Rightmove showed. Rightmove said it was not yet clear that the figures pointed to a “mass exodus” by landlords, but rather to a gradual decline in the appeal of the buy-to-let sector. </p>
                
                <b style="margin-left:30px;"> 11th September 2024</b> <a href="https://www.cnbc.com/2024/09/05/london-landlords-sell-up-properties-ahead-of-anticipated-labour-clampdown.html" style="margin-left: 190px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-block"> <br>
                    <h4 class="card-title" style="text-align: center;"> Home listings are up more than 60% in some cities. Here’s where</h4><br>
                  
                  <img src="newstenthphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                  
                 
                 
                 
                 
                  <p class="card-text p-y-1" style="text-align:center;">The supply of homes for sale is still low by historical standards, but it is rising quickly.

                    Nationwide, active listings in August were up 36% compared with the same month last year, according to a new report from Realtor.com. That was the 10th straight month of annual growth. Applications for loans to buy a home are down about 4% compared with this time last year, according to the Mortgage Bankers Association. This, even though the average rate on the 30-year mortgage is about 75 points lower now than it was then.</p>
                  
                  <b style="margin-left:30px;"> 6th September 2024</b> <a href="https://www.cnbc.com/2024/09/06/home-listings-up-big-in-some-cities.html" style="margin-left: 190px;">Learn more</a> <br> <br>
                  </div>
                </div>
              </div>
          </div><br> <br>
          <div class="row hidden-md-up">
            <div class="col-lg-6">
              <div class="card"> 
                        <div class="card-block"> <br>
                          <h4 class="card-title" style="text-align: center;">Nobel winner Joseph Stiglitz says Fed raised rates ‘too far, too fast’ — and now needs to cut big</h4> <br>
                
                          <img src="12-3.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                          
                          <p class="card-text p-y-1" style="text-align:center;">Nobel Prize-winning economist Joseph Stiglitz says the Federal Reserve should deliver a half-point interest rate cut at its forthcoming meeting, accusing the U.S. central bank of going “too far/fast”. His comments come ahead of Friday’s pivotal release of U.S. jobs data, with spenders  that closely monitoring the August nonfarm payrolls count for clues on the size of an expected rate cut this month. Strategists have typically said that the most likely outcome from the Fed’s Sept. 17-18 meeting is a 25-point rate cut.</p>
                          
                          <b style="margin-left:30px;"> 6th September 2024</b> <a href="https://www.cnbc.com/2024/09/06/nobel-laureate-joseph-stiglitz-wants-the-fed-to-deliver-a-big-rate-cut.html" style="margin-left: 119px;">Learn more</a> <br> <br>

                
                
                
                </div> </div>
            
              </div>
            <div class="col-lg-6">
              <div class="card">
              <div class="card-block"> <br>
                <h4 class="card-title" style="text-align: center;">Potential mortgage refinancing in China would be a move in the right direction: Amundi</h4> <br>
                
                <img src="newstwelfthphoto.png" width="583" height="310" style="margin-left:27px;">         <br> <br>
                
                <p class="card-text p-y-1" style="text-align:center;">"Of course, there are so not so many semiconductors or AI that plays in the market here. What's driving the markets in China down now is that in early August the Chinese market has been outperforming on the downside, on the main point. We have been underperforming as well so we can say that there is a low positioning today". Florian Neto of Amundi says that if the mortgages are allowed to be refinanced at a lower rate, the People’s Bank of China would need to lower short-term interest rates as well. </p>
                
                <b style="margin-left:30px;"> 5th September 2024</b> <a href="https://www.cnbc.com/video/2024/09/05/potential-cuts-to-mortgage-rates-in-china-is-a-move-in-the-right-direction-but-the-pboc-will-need-to-cut-short-term-funding-rates.html" style="margin-left: 190px;">Learn more</a> <br> <br>
                </div>
              </div>
            </div>
          </div><br>
      </div>
    </div>

    </body> <app-footer> </app-footer>