<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button> 
	<mat-icon (click)="sidenav.toggle()">menu</mat-icon> 
		</button>
		<h1 style="margin-left: 59px;"> <b> Buyer Portal</b></h1>
		<a [routerLink]="['/login']" class="homeanchorelement">
			<mat-icon>logout</mat-icon>
			
			Logout </a>  </mat-toolbar-row>
	
</mat-toolbar> 


<mat-sidenav-container class="example-container">
	


	<mat-sidenav #sidenav> 
		<mat-nav-list>
  <a mat-list-item [routerLink]="['/home']">  Home </a>      <a mat-list-item [routerLink]="['/properties']">  Properties </a> <a mat-list-item [routerLink]="['/calendar']"> Calendar </a>


   </mat-nav-list> 
	
	</mat-sidenav>
    <mat-sidenav-content>  <div style="height: 93vh;"> 
        
        
        <br> <br> <h1 *ngIf="user$ | async as user" class="h1logintext"><b> Welcome to our app, {{user.displayName}}! </b> </h1>
        
        <br> <br> <br> <div class="card" style="width: 30rem; height: 17.5rem; margin-left: 530px;">
            
            <div class="card-body">
              <h3 class="card-title" style="text-align: center;"> <b>  Your Credentials </b></h3>    <br>
              <p class="card-text" *ngIf="user$ | async as user"><b>Name: </b> {{user.displayName}}</p>

              <p class="card-text" *ngIf="user$ | async as user"><b>Email: </b> {{user.email}}</p>
              
              <p> <b> Password: </b> Is not shown because it is considered as an information that should be kept confidential. Notify the Firebase Administrator if you want to get your password beforehand in any situation of the password's loss.</p>
            </div>
          </div>
        </div></mat-sidenav-content>


</mat-sidenav-container>